.controls
  %ul.nav.nav-tabs{ :style => 'margin-top:5px' }
    - field.tabs.each do |tab|
      %li{ class: ('active' if tab.active?) }
        = link_to tab.label, "#", data: { toggle: "tab",  target: "##{tab.id}" }, class: ('text-danger' unless tab.valid?)

.tab-content
  - field.tabs.each do |tab|
    = form.fields_for field.name, tab.translation, wrapper: false do |f|
      .fields.tab-pane{ id: tab.id, class: ('active' if tab.active?) }
        = f.generate(action: :nested, model_config: field.associated_model_config, nested_in: field)
