.globalize_tabs_type {
  & > .help-block {
    margin-left: 180px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
  }
  & > .controls > .help-inline {
    float: right;
    margin-left: 15px;
  }
}
body.rails_admin .form-horizontal.denser .globalize_tabs_type > .help-block {
  margin-top: 10px;
}