
// scope all selectors (it's awful, but it's safer)
.globalize_tabs_type {

  // Generic adjustments

  .globalize-errors {
    float: right;
    margin-left: 15px;
    line-height: 36px; // tabs height
  }
  .globalize-help {
    margin-top: 10px;
    margin-left: 180px; // == .form-horizontal .controls indent
  }

}